<div class="row">
    <div class="col-md-4">
        <!--alert-->
        <div class="panel panel-info">
            <div class="panel-heading">Create a Journalist</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="POST">
                    <div class="form-group">
                        <label for="id" class="col-sm-3 control-label">ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="id" placeholder="ABC123">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" placeholder="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthDate" class="col-sm-3 control-label">BirthDate</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="birthDate" placeholder="YYYY/MM/DD">
                            <p class="help-block">ex: 1993/12/27</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="interests" class="col-sm-2 control-label">Interest</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="interests" placeholder="something, something">
                            <p class="help-block">separated by comas</p>
                        </div>
                    </div><hr>
                    <button type="submit" value"submit" class="btn btn-default">Send Data</button>
                </form>
            </div>
        </div>
    </div>
</div>